* {
  margin: 0;
  box-sizing: border-box;
}

.main button,
.main a,
.main .menu,
.main img {
  cursor: pointer;
}

.main h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.main p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main hr {
  color: darkgrey;
  width: 25%;
  margin: 25px auto;
  border: none;
  border-bottom: 1px solid darkgrey;
}
.main{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(245, 245, 245);
  width: 100vw;
}



/* main section */
.main {
  line-height: 1.7em;
  display: grid;
  background-color: rgb(245, 245, 245);
  margin-top: 60px;
  font-size: 18px;
  grid-template-columns: auto auto auto;
  
}

.about-hackathon {
  display: grid;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #efefef;
  border-radius: 10px;
  
}
.summary {
  border-radius: 12px;
  /* width: 60%; */
  background-color: transparent;
  margin: 25px;
  margin-left: 35px;
  
  grid-column-start: 1;
  grid-column-end: 3;
}

.dev-team {
  border-radius: 12px;
  max-width: 100%;
  grid-column: 3;
  margin: 25px 35px;
  height: fit-content;
  background: rgb(250, 250, 250);
  position: sticky;
  top: 90px;
}

.summary span {
  color: darkgrey;
  font-size: 0.8rem;
}

.summary a {
  text-decoration: none;
  /* color: rgb(85, 26, 139); */
  color:black;
  display: inline-block;
}

.summary a:hover {
  /* color: rgb(168, 122, 211); */
  color:rgb(47,58,178);
}

/* .content-names > a {
  display: inline;
  padding: 5px;
} */

.summary h1 {
  font-weight: 700px;
}

.event-details {
  padding: 30px;
}

.msg-from {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}

.msg-from > img {
  width: 40px;
  height: 40px;
}

.categories div{
  padding-bottom: 8px;
  
}

.appwrite-card {
  border: 1px solid #d32859;
  box-shadow: 3px 3px 0px #d32859;
  border-radius: 5px;
  margin-top: 8px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: auto auto;
  padding: 20px;
}

.appwrite-card img {
  width: 50px;
  margin-left: 15px;
}

a.follow-aw {
  color: rgb(168, 122, 211);
}

.follow-aw-btn {
  width: 80px;
  height: 30px;
  color: #d32859;
  background-color: #ffddf6;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.swag {
  padding-left: 20px;
  border-left: 5px solid lightgray;
}

.swag img {
  width: 100%;
  margin-top: 15px;
}
.prizes{
  margin-top:5px;
  padding-top: 15px;
  margin-bottom: 15px;
}
.prizes >ul{
  padding-top:5px;
  padding-bottom:18px;

}
.how-to a{
  color:blue
}
.community,.dates,.rules,.additional-notes{
  margin-top:20px;
  margin-bottom:20px
  
}
.additional-notes li{
padding-top:5px;
padding-bottom: 5px;
}

code{
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding:3px 5px;
  font-size: 0.9rem;
}
.rules a{
  text-decoration: underline;
  color:blue;
}
.dates>ul{
  padding-top: 10px;
}
.discussions {
  padding: 50px 30px;

  border-top: 1px solid darkgray;
  /* border-bottom: 1px solid darkgray;
  border-bottom-left-radius:5px ;
  border-bottom-right-radius:5px */
}

.discussions span.news-card-img {
  margin-top: 15px;
  
}

.discussions .news-card {
  align-items: flex-start;
}

.discuss-top {
  margin-bottom: 50px;
  display: flex;
  align-items: space-between;
}

.discuss-top h2 {
  justify-content: flex-start;
  align-self: center;
  margin: 0;
}

.discuss-top button {
  align-self: center;
  background-color: white;
  outline: none;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  margin-left: auto;
}

.discuss-top button:hover {
  border: 1px solid gray;
  background-color: lightgray;
}

.main textarea {
  border: 1px solid lightgray;
  outline: 0;
  border-radius: 5px;
  padding: 15px;
  flex-grow: 2;
}

.card-int {
  border: 1px solid lightgray;
  outline: 0;
  border-radius: 5px;
  padding: 15px;
}

.discussion-item {
  margin-left: auto;
  flex-grow: 2;
}

.discussion-card {
  display: flex;
  align-items: space-between;
  margin-top: 25px;
}
.add-dis-img{
  width:30px;
  height:30px
}
span.name {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  padding-right: 10px;
}



.view-all-discussions > button,
.follow > button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #3d3d3d;
  font-size: 1rem;
  background: #d7d6d6;
  padding: 10px 20px;
  text-decoration: none;
  outline: 0;
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.view-all-discussions > button:hover {
  background: #bdbdbd;
  text-decoration: none;
}

.view-all-discussions a {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.read-next {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  border: 3px solid #efefef;
  padding: 30px ;
  margin-bottom: 20px;
}

.news-card {
  display: flex;
  margin-bottom: 10px;
  margin-top: 25px;
  column-gap: 15px;
  align-items: flex-start;
}

.news-card-img > img {
  width: 100%;
  border-radius: 50% !important;
  flex-direction: column;
  cursor: pointer;
}

.news-card-name {
  font-size: 1.5rem;
  color: rgb(64, 64, 64);
  cursor: pointer;
}

.news-card-name:hover {
  color: rgb(168, 122, 211);
}

.news-card-name span {
  color: #808080;
  font-size: 0.9rem;
}

.event-details img {
  display: inline;
  border-radius: 8px;
}

.banner img {
  overflow: hidden;
  max-width: 100%;
  border-radius: 12px;
}

.dev-team > .contain {
  border-radius: 15px;
  border-top: 35px solid #080808;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.follow {
  padding: 0 30px 30px 30px;

  background-color: white;
  border-radius: 15px;
}

.follow img {
  width: 50px;
  position: relative;
  top: -18px;
  /* transform: translateY(-18px); */
  border-radius: 5px;
  margin-right: 10px;
}

.flex-item {
  display: flex;
  padding: 5px;
}

.follow a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.follow a:hover {
  color: rgb(168, 122, 211);
}

.follow > button {
  margin-top: 0px;
  background-color: rgb(59, 73, 223);
  color: white;
}

.follow > button:hover {
  background-color: #476fbf;
}

.about-dev-team {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

.about-dev-team > p {
  padding: 15px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
}

.about-dev-team a {
  text-decoration: none;
}

.about-dev-team span {
  color: #bdbdbd;
  font-size: 0.9rem;
  padding-right: 15px;
  cursor: pointer;
}

.footer {
  padding: 25px;

  background-color: rgb(229, 229, 229);
  padding-bottom: 40px;
  /* width: 100%; */
}

.footer > div {
  text-align: center;
  line-height: 2;
}
.forum-item-postedby-img > img {
width:25px;
height:25px
} 

.fa {
  color: #6b6d6f !important;
  font-size: 1rem !important;
}
.icon-color {
  color: black !important;
 
}

.upvote:focus {
  color: #ff00bb;
}
.bookmark > i {
  padding: 4px 2px;
}
.post-title {
  color: black;
  font-size: large;
  text-decoration: none;
}

.dropdown-toggle::after {
  content: none;
}
#floatingTextarea {
  border: none;
  /* overflow-y: scroll; */
  outline: none;
  box-shadow: none;
  
  resize: none;
}
.com-sec {
  border: 1px solid #ced4da;
  border-radius:8px
}
.forum-item-postedby-img >img {
  display: none;
}

.profile-card {
  border: 1px solid gray;
  border-radius: 8px;
}
.profile-box {
  width: fit-content;
  position: absolute;
  background-color: white;
  z-index: 2;
}
@media (min-width: 375px) {
 
  .forum-item-postedby-img > img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}
@media screen and (min-width: 521px) {
  .news-card-img > img {
    width: 63px;
    height: 63px;
  }

  .forum-item-postedby-img  > img {
    width: 50px;
    height: 50px;
  }

  
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
.main{
  font-size: 16px;
}
.read-next{
  padding:15px
}
 
  .event-details{
    padding:15px 20px;
    
  }
  .discussions {
    padding: 50px 1rem;}

  .menu {
    display: flex;
    background-color: transparent;
    margin-top: 4px;
    padding: 5px;
    color: black;
  }

  .menu:hover {
    color: #808080;
  }
.follow,.about-dev-team{
  padding-right:15px;
  padding-left:15px
}

  .search-input {
    display: none;
  }

  .log-in-btn {
    display: none;
  }

  .nav-buttons {
    margin-left: 0;
  }

.main  .search {
    margin-left: auto;
    width:fit-content;
    
  }
  button.search-btn{
    padding:0
  }
  .search > form,
  .search > form:hover {
    border: 0;
    padding:0;
    height:fit-content
  }
}
.post-comment{
  border:1px solid lightgray;
  border-radius: 5px;
}


@media screen and (max-width: 1023px) {
  .main {
    grid-template-rows: auto auto;
  }

  .summary {
    grid-column: 1;
    grid-row-start: 1;
    width: 100%;
    margin: 0;
  }

  .dev-team {
    grid-column: 1;
    grid-row-start: 2;
    margin: 10px 0 0 0;
  }
}
@media (min-width: 1024px){
.main{
  margin-top: 70px;
}
}
